{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <!--media content-section col-xs-12 col-md-12-->
        <!--<article class="media content-section">-->
        <!--  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">-->
        <!--      <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">-->
        <!--  </a>-->
        <!--  <div class="media-body">-->
        <!--    <div class="article-metadata">-->
        <!--      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>-->
        <!--      <small class="text-muted">{{ post.date_posted|timesince }} ago</small>-->
        <!--    </div>-->
        <!--    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>-->
        <!--    <p class="article-content">{{ post.content|truncatewords:20 }}</p>-->
        <!--    <small><a class="btn btn-sm btn-outline-info" href="{% url 'post-detail' post.id %}">see more</a></small>-->
        <!--    <br>-->
        <!--  </div>-->
        <!--</article>-->
      <article class="post_box">
      <div class = 'post_header'>
         <div class = 'post_header_left'>
         		<div class = 'post_header_left_userprofile_image'>
             		 <img class="rounded_circle_img" src="{{ post.author.profile.image.url }}">
          		</div>
          		<div class = 'post_header_left_userprofile_fact'>

	               <a title = 'View All Post' class="user_name" href="{% url 'user-posts' post.author.username %}">{{ post.author }}

	               </a>
	                <small class="date">{{ post.date_posted|timesince }} ago</small>
     		 </div>
         </div>
       </div>

            <div class="post_body">
                <div class = 'article'>

                <p class="article-content">

                     <a class="title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                     <small><a class="title" href="{{ post.link }}">url : {{ post.link_name }}</a></small>
                	{{ post.content }}
                </p>
               	<a class="see_more_btn">see more</a>
                </div>
                <hr>
                <p class="comment-content"><a class="btn btn-danger btn-sm" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
                <a class="btn btn-warning btn-sm" href="{% url "post_share" post.id %}">share</a></p>
                <p class="comment-content"><a href="{% url 'post-detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a></p>
            </div>
 </article>

    {% endfor %}
{% endblock %}